<!-- your html code here -->
<div class="container mt-5">
  <h2>Contact</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo cumque ipsam magni eligendi deleniti quisquam beatae fugit et expedita, rerum, quis inventore iste quasi. Assumenda tenetur repellat neque perferendis necessitatibus.</p>
  
  <div class="card p-4 bg-light">
    <form>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right font-weight-bold">Your E-mail</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" placeholder="Your email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right font-weight-bold">Your message</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
      </div>
    </form>
  </div>
</div>